### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [6]:
df = pd.DataFrame(purchase_data)
df = df.rename(columns={'Purchase ID': 'Purchase_ID',
                       'Item ID': 'Item_ID',
                       'Item Name': 'Item_Name'})
u_users = df['SN'].nunique()
u_users

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
u_items = df['Item_ID'].nunique()
avg_price = df['Price'].mean()
num_purch = df['Purchase_ID'].nunique()
tot_rev = df['Price'].sum()
summary_df = pd.DataFrame({'Number of Unique Items':[u_items], 
                           'Average Price':avg_price, 
                           'Number of Purchases':num_purch,
                           'Total Revenue':tot_rev})
summary_df['Average Price'] = summary_df['Average Price'].map("${:,.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
gender_df = df.groupby(['Gender']).SN.nunique().sort_values(ascending = False).reset_index().rename(columns={'SN': 'Total Count'})
gender_df['Percent of Players']=(gender_df['Total Count']/u_users)
gender_df['Percent of Players'] = gender_df['Percent of Players'].map('{:,.2%}'.format)
gender_df

                  Gender  Total Count Percent of Players
0                   Male          484             84.03%
1                 Female           81             14.06%
2  Other / Non-Disclosed           11              1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
gender_purch_df = df.groupby(['Gender']).agg({'Purchase_ID':'nunique',
                                             'Price':['mean',sum],
                                              'SN':'nunique'
                                             }).reset_index()
gender_purch_df.columns = ["_".join(x) for x in gender_purch_df.columns.ravel()]
gender_purch_df['new'] = gender_purch_df['Price_sum'] / gender_purch_df['SN_nunique']
gender_purch_df=gender_purch_df.drop(columns = ['SN_nunique'])
g_df = gender_purch_df.rename(columns = {'Gender_':'Gender',
                                 'Purchase_ID_nunique':'Purchase Count',
                                 'Price_mean':'Average Purchase Price',
                                 'Price_sum':'Total Purchase Value',
                                  'new':'Avg Total Purchase per Person'
                                 })
g_df['Average Purchase Price'] = g_df['Average Purchase Price'].map("${:,.2f}".format)
g_df['Total Purchase Value'] = g_df['Total Purchase Value'].map("${:,.2f}".format)
g_df['Avg Total Purchase per Person'] = g_df['Avg Total Purchase per Person'].map("${:,.2f}".format)
g_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
bins = [0,9,14,19,24,29,34,39,1000]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
df["Age Bin"] = pd.cut(df["Age"], bins, labels=labels)
age_df = df.groupby(['Age Bin']).SN.nunique().reset_index().rename(columns={'SN': 'Total Count'})
age_df['Percent of Players']=(age_df['Total Count']/u_users)
age_df['Percent of Players'] = age_df['Percent of Players'].map('{:,.2%}'.format)
age_df

  Age Bin  Total Count Percent of Players
0     <10           17              2.95%
1   10-14           22              3.82%
2   15-19          107             18.58%
3   20-24          258             44.79%
4   25-29           77             13.37%
5   30-34           52              9.03%
6   35-39           31              5.38%
7     40+           12              2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
age_purch_df = df.groupby(['Age Bin']).agg({'Purchase_ID':'nunique',
                                             'Price':['mean',sum],
                                              'SN':'nunique'
                                             }).reset_index()
age_purch_df.columns = ["_".join(x) for x in age_purch_df.columns.ravel()]
age_purch_df['new'] = age_purch_df['Price_sum'] / age_purch_df['SN_nunique']
age_purch_df = age_purch_df.drop(columns = ['SN_nunique'])
a_df = age_purch_df.rename(columns = {'Age Bin_':'Age Bin',
                                 'Purchase_ID_nunique':'Purchase Count',
                                 'Price_mean':'Average Purchase Price',
                                 'Price_sum':'Total Purchase Value',
                                  'new':'Avg Total Purchase per Person'
                                 })
a_df['Average Purchase Price'] = a_df['Average Purchase Price'].map("${:,.2f}".format)
a_df['Total Purchase Value'] = a_df['Total Purchase Value'].map("${:,.2f}".format)
a_df['Avg Total Purchase per Person'] = a_df['Avg Total Purchase per Person'].map("${:,.2f}".format)
a_df

,Age Bin,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,$3.35,$77.13,$4.54
1,10-14,28,$2.96,$82.78,$3.76
2,15-19,136,$3.04,$412.89,$3.86
3,20-24,365,$3.05,"$1,114.06",$4.32
4,25-29,101,$2.90,$293.00,$3.81
5,30-34,73,$2.93,$214.00,$4.12
6,35-39,41,$3.60,$147.67,$4.76
7,40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
ts_df = df.groupby(['SN']).agg({'Purchase_ID':'nunique',
                                             'Price':['mean',sum]
                                             }).reset_index()
ts_df.columns = ["_".join(x) for x in ts_df.columns.ravel()]

In [25]:
ts_df = ts_df.sort_values(ascending = False, by=['Price_sum']).head().rename(columns = {'SN_':'SN',
                                 'Purchase_ID_nunique':'Purchase Count',
                                 'Price_mean':'Average Purchase Price',
                                 'Price_sum':'Total Purchase Value'
                                 }).set_index('SN')
ts_df['Average Purchase Price'] = ts_df['Average Purchase Price'].map("${:,.2f}".format)
ts_df['Total Purchase Value'] = ts_df['Total Purchase Value'].map("${:,.2f}".format)
ts_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
mp_df = df.groupby(['Item_ID', 'Item_Name']).agg({'Purchase_ID':'nunique',
                                             'Price':['mean',sum]
                                             }).reset_index()
mp_df.columns = ["_".join(x) for x in mp_df.columns.ravel()]
mp_df = mp_df.sort_values(ascending = False, by=['Purchase_ID_nunique']).head().rename(columns = {'Item_ID_':'Item ID',
                                                                                          'Item_Name_':'Item Name',
                                 'Purchase_ID_nunique':'Purchase Count',
                                 'Price_mean':'Item Price',
                                 'Price_sum':'Total Purchase Value'
                                 }).set_index(['Item ID','Item Name'])

mp_df['Item Price'] = mp_df['Item Price'].map("${:,.2f}".format)
mp_df['Total Purchase Value'] = mp_df['Total Purchase Value'].map("${:,.2f}".format)
mp_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
mpp_df = df.groupby(['Item_ID', 'Item_Name']).agg({'Purchase_ID':'nunique',
                                             'Price':['mean',sum]
                                             }).reset_index()
mpp_df.columns = ["_".join(x) for x in mpp_df.columns.ravel()]
mpp_df = mpp_df.sort_values(ascending = False, by=['Price_sum']).head().rename(columns = {'Item_ID_':'Item ID',
                                                                                          'Item_Name_':'Item Name',
                                 'Purchase_ID_nunique':'Purchase Count',
                                 'Price_mean':'Item Price',
                                 'Price_sum':'Total Purchase Value'
                                 }).set_index(['Item ID','Item Name'])

mpp_df['Item Price'] = mpp_df['Item Price'].map("${:,.2f}".format)
mpp_df['Total Purchase Value'] = mpp_df['Total Purchase Value'].map("${:,.2f}".format)
mpp_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80